/*******************************************

Universal Styling

********************************************/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	font-family: 'Quicksand', sans-serif;
	color: #102d33;
}

h1, h2 {
	font-family: 'Bree Serif', cursive;
  padding: 2%;
	color: #102d33;
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.2em;
}

h3, h4, h5, h6 {
	color: #568492;
	font-size: .9em;
}

p {
  padding: 2%;
}

footer {
  background: #cb8699;
  color: white;
  text-align: center;
  width: 100%;
  padding: 1%;
}

.aboutme,
.education-left,
.education-right,
.experience,
.design-experience {
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  line-height: 150%;
  padding: 2%;
  margin: 4%;
}
/***************************HAMBURGER MENU STYLES******************************/
body{
  font-family: 'Quicksand', sans-serif;
	margin:0;
	width:100%;
	height:100vh;
  background:#ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
header{
	width:100%;
	background: #a8314b;
	height:60px;
	line-height:60px;
	border-bottom:1px solid #dddddd;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  left:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color: white;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  left: 0;
  padding:7px 15px 0px 15px;
  color: white;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:20%; background:#a8314b;  position:absolute; text-align: center; font-size:14px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block; background:#568492; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color: white;}
.menu ul li a:hover {  color: #102d33; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}
/**************************HOME PAGE STYLES************************************/
.home {
  background-image: url("../images/peru.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.aboutme {
	padding: 1%;
}

.round img {
	max-width: 100%;
}

/**************************EDUCATION PAGE STYLES*******************************/
article ul li {
  margin-left: 5%;
  font-size: 1em;
  font-weight: bold;
  color: #568492;
}

.education-left,
.education-right {
	padding: 1%;
}

.button {
  background: #568492;
  color: white;
  padding: 2%;
	text-align: center;
  text-decoration: none;
}

/***************************CAREER PAGE STYLES*********************************/
.careers h3 {
	font-family: 'Bree Serif', cursive;
	font-style: italic;
}

/**************************PORTFOLIO PAGE STYLES*******************************/
.design-experience {
	padding: 1%;
}

.gallery img {
	box-sizing: border-box;
  width: 400px;
  height: 400px;
  object-fit: contain;
  padding: 3%;
  display: inline;
	max-width: 1400px;
}

/****************************CONTACT PAGE STYLES*******************************/
.contact-me {
	display: flex;
	flex-wrap: wrap;
}

.contact {
	display: flex;
	justify-content: center;
}

.contact-form {
  background: #a8314b;
  padding: 20px;
  max-width: 600px;
  border-radius: 4px;
  color: white;
  font-family: Quicksand;
  margin: 0 auto;
}

.label_input_wrap {
  display: block;
}

label {
  font-weight: bold;
}

.reset input,
.submit input {
  background: #568492;
  color: white;
  padding: 5px 20px;
  display: inline;
}

.reset,
.submit {
  display: inline;
}

.input-section {
  margin-bottom: 15px;
}

input {
  padding: 5px 10px;
  border-radius: 3px;
}

textarea {
  font-family: sans-serif;
  padding: 10px 10px;
  border-radius: 4px;
}

select {
  width: 185px;
  padding: 8px 0;
  border-radius: 4px;
}

.gmail {
  text-align: center;
  padding-top: 20px;
}

.dogs {
  border-radius: 50%;
	max-width: 100%;
	padding: 2%;
}

/******************START MIN-WIDTH 320 MEDIA QUERY*****************************/
@media (min-width: 320px) {

  .aboutme {
    max-width: 80%;
    line-height: 150%;
    padding: 4%;
    margin: 15% 5% 5%;
  }

	.round {
		padding-top: 15%;
	}

	.education-left,
	.education-right
	.experience {
		max-width: 90%;
	}

	.button {
		display: flex;
		justify-content: center;
		margin: 2%;
	}

	.estate img {
		max-width: 95%;
		padding: 2%;
		margin: 2%;
	}

	.design-experience {
		max-width: 80%;
		margin-left: 6%;
	}

	.dogs {
		display: flex;
		flex-wrap: wrap;
		max-width: 85%;
		margin-left: 5%;
	}
}
/******************START MIN-WIDTH 660 MEDIA QUERY*****************************/
@media (min-width: 660px) {

	body {
		display: flex;
		flex-wrap: wrap;
	}

  .aboutme {
    max-width: 34%;
    padding: 2%;
    margin: 3%;
  }

	.round {
		max-width: 45%;
		padding: 5%;
		margin-top: 15%;
	}

	.button {
		display: flex;
		justify-content: center;
	}

	figure {
		max-width: 40%;
	}

	.estate img {
		max-width: 100%;
		margin: 2%;
		padding-top: 45%;
		display: flex;
		flex-wrap: wrap;
	}

	.experience {
		max-width: 45%;
		margin: 2% 0 3% 4%;
		display: flex;
		flex-wrap: wrap;
	}

	.design-experience {
		max-width: 60%;
		margin-left: 20%;
	}

	.dogs {
	  border-radius: 50%;
		padding: 2%;
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-left: 60%;
	}

}
/******************END MIN-WIDTH 660 MEDIA QUERY*******************************/

/******************START MIN-WIDTH 1117 MEDIA QUERY****************************/
@media (min-width: 1117px) {

	body,
	.edu-summary,
	.career,
	.portfolio {
		display: flex;
		flex-wrap: wrap;
	}

	.aboutme {
		max-width: 40%;
		max-height: 55%;
		padding: 2%;
		margin: 5% 2%;
	}

	.round {
		max-width: 30%;
		margin: 2%;
		padding: 6%;
	}

	.education-left,
	.education-right {
		max-width: 37%;
		margin: 2% 3%;
	}

	.button {
		display: flex;
		justify-content: center;
	}

	.estate img {
		max-width: 100%;
		padding: 0;
		margin-left: 10%;
		display: flex;
		justify-content: flex-start;
	}

	.experience {
		max-width: 40%;
		margin-left: 10%;
		display: flex;
		justify-content: flex-end;
	}

	.design-experience {
		max-width: 50%;
		margin-left: 25%;
	}

	.dogs {
	  border-radius: 50%;
		padding: 5%;
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-left: 65%;
	}

}
